<div id="app-modal" class="app-modal" role="dialog" aria-modal="true" aria-labelledby="app-modal-title" aria-describedby="app-modal-desc" hidden>
  <div class="app-modal__backdrop" data-action="close"></div>
  <div class="app-modal__dialog">
    <h2 id="app-modal-title" class="app-modal__title"></h2>
    <p id="app-modal-desc" class="app-modal__message"></p>
    <div id="app-modal-actions" class="app-modal__actions"></div>
  </div>
</div>
